{#{%  extends 'base.html.twig' %}#}
{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=yes, initial-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>{%  block title %}Bucket-list{% endblock %}</title>#}

{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}

{#    <link rel="icon" href="{{ asset('img/favicon.png') }}">#}
{#</head>#}
{#<body>#}

{#<header>#}
{#    {%  include('inc/header.html.twig') %}#}

{#</header>#}
{#<main>#}
{#    <div class="container">#}
{#        {% block body %}#}
{#            <div>#}

{#                <div>Alias at dignissimos, distinctio laboriosam libero nobis quas quidem tempore! Accusamus aliquid assumenda at#}
{#                    culpa dicta ducimus enim et eveniet iusto modi nostrum perferendis quisquam sit tenetur veniam voluptate,#}
{#                    voluptatibus?#}
{#                </div>#}
{#                <div>Dolorem ducimus nobis officia placeat totam. Asperiores explicabo iste maiores molestiae molestias nisi#}
{#                    voluptatem, voluptatibus. Accusamus aspernatur dolor, enim eos fugiat nam neque praesentium quia quibusdam quis#}
{#                    ullam ut vero.#}
{#                </div>#}
{#                <div>Atque deserunt dolore iste perspiciatis? Alias blanditiis deleniti dolorem eaque esse hic, illum inventore#}
{#                    mollitia necessitatibus nisi numquam perferendis quibusdam quis ratione rem repellendus rerum sint temporibus#}
{#                    veniam voluptate voluptatem!#}
{#                </div>#}
{#                <div>Alias, amet animi dignissimos dolores ducimus eligendi error exercitationem itaque odit, perferendis quaerat,#}
{#                    qui quo repellat temporibus veritatis voluptatem voluptatibus! Beatae commodi consectetur dolore eligendi illum,#}
{#                    pariatur quis recusandae velit!#}
{#                </div>#}
{#                <div>Adipisci dolore explicabo fugiat iusto labore molestias numquam officia provident, qui sed temporibus ullam#}
{#                    veniam voluptatum. Beatae dolorum eveniet recusandae repudiandae vero! Aspernatur dicta ea numquam rerum ullam#}
{#                    vero voluptatum.#}
{#                </div>#}
{#                <div>Accusamus aliquam aspernatur consectetur, distinctio eveniet incidunt nam necessitatibus officia quo vel?#}
{#                    Adipisci corporis delectus dolor eligendi et ex iste minus nemo obcaecati quas repellendus, sapiente, sint ut#}
{#                    veritatis vitae.#}
{#                </div>#}

{#            </div>#}
{#        {% endblock %}#}

{#    </div>#}
{#</main>#}
{#<footer>#}

{#    {%  include('inc/footer.html.twig') %}#}

{#</footer>#}
{#</body>#}
{#</html>#}

{%  extends 'base.html.twig' %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor fugiat iure minus odio officiis placeat velit.
        Eos et hic in iste laudantium modi molestiae numquam officia officiis praesentium, reprehenderit, sapiente.
    </div>
    <div>Aspernatur, earum, odit! Asperiores blanditiis dolorum, error est odio perferendis placeat possimus provident
        quaerat quisquam sapiente sed ut veniam! Dicta est hic illum laboriosam mollitia provident quasi quibusdam
        quidem, ullam.
    </div>
    <div>Commodi distinctio dolorem dolorum facere, fugit id iste laboriosam minima modi nisi quas qui quisquam tempora
        tempore ullam. Alias corporis eaque illo ipsa iste quam quod quos sapiente sed sunt.
    </div>
    <div>Accusantium autem deserunt dignissimos eos exercitationem harum libero necessitatibus officia quos sint.
        Commodi cumque dolores fuga labore reiciendis repellat repudiandae sunt? Atque consequatur deserunt fugiat hic
        officia quidem sequi ut.
    </div>
    <div>Aliquam cumque, deserunt ea enim esse expedita illum inventore itaque, modi molestiae mollitia non, odit
        tempora! Amet deleniti, dolorum ea est ipsum labore laboriosam maxime modi quaerat sed, temporibus veniam.
    </div>
    <div>Corporis culpa delectus dignissimos doloribus, est eveniet ipsam nemo omnis pariatur, placeat quidem quo rem
        sint tempora velit voluptas voluptate. Alias dicta dignissimos dolores illo modi nostrum perspiciatis sed
        similique?
    </div>
    <div>Ad amet, at eius explicabo, fugiat incidunt inventore iusto magni neque nesciunt nihil nobis numquam placeat
        provident quia recusandae rem repellendus vel vitae voluptatibus. Aliquam beatae deserunt ipsum porro ratione.
    </div>
    <div>Aperiam cupiditate ducimus eligendi est laborum quae quos. Facilis hic incidunt labore nihil quaerat quisquam
        vero? Asperiores commodi dolorum facere fugit, id ipsa libero non nostrum, nulla sequi vitae voluptatibus?
    </div>
    <div>Architecto assumenda autem commodi, error eum excepturi ipsa, ipsum maxime molestias nihil odit officiis omnis
        quisquam rem similique tempora, voluptate. Aperiam aut cupiditate quas quibusdam sint sit tenetur unde veniam.
    </div>
    <div>At, aut autem consequatur culpa delectus dicta dignissimos iure laboriosam mollitia nobis officia quasi qui
        quisquam. A accusamus adipisci aliquam, aut corporis distinctio ex iusto laudantium minima quam, quis suscipit?
    </div>
{% endblock %}

{%  block title %}{{ parent() }} | Test{% endblock%}
