body {
    /*background: linear-gradient(#000000, #132135);*/
    /*background-attachment: fixed;*/
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
    /*background-color: #fff1e6;*/
    color: black;
    font-family: 'Asul', serif;

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
header {
    /*background-color: #a1a187;*/
    background-color: #A5A58D;
    padding: 1rem 0;
}
footer {
    background-color: #edddd2;
    text-align: center;
}
header h1 {
    margin: 0 0 10px 0;
}

header a {
    text-decoration: none;
    color: inherit;
    padding-right: 2rem;
}

header nav a:hover {
    text-decoration: underline;
}
.header-logo {
    font-size: 3rem;
    font-weight: normal;
}
.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}
.header-nav {
    display: flex;
    /*padding-right: 2rem;*/
    /*flex:1;*/
    /*flex-direction:row;*/
}

main {
    flex: 1;
    padding: 1rem 0;
    background-color: #FFF1E6;
}
footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #EDDCD2;
}

.header-nav a {
    margin-right: 2rem;
}
main h2 {
    margin-top: 0;
}

.team-members article {
    display: flex; flex-direction: column; margin: 30px 0;
}
.team-members article img {
    width: 210px;
    border-radius: 50%;
    margin: auto;
}
@media screen and (min-width: 680px) {
    .team-members article {
        flex-direction: row;
    }
    .team-members article:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .team-members article img {
        margin-right: 20px;
    }
    .team-members article:nth-child(odd) img {
        margin-right: 0;
        margin-left: 20px;
    }
}
