{% extends 'base.html.twig' %}

{% block title %}Ajout de souhait{% endblock %}

{% block body %}
    <h1>Formulaire d'ajout</h1>
    <div>
        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <button>Create !</button>

        {{ form_end(wishForm) }}
    </div>

{% endblock %}
