{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaits
{% endblock %}

{% block body %}
<h1>liste</h1>
    {%  for wish in wishes %}
        <p>
        <a href="{{ path('wish_detail', {'id' : wish.id}) }}" title="View this wish's details">{{ wish.title }} | {{ wish.category.name }}</a>
        </p>
{#        <br>#}
    {% endfor %}
{% endblock %}
